<p>
<%= label_tag "role_ids", l('accounting.opts.roles') %>
<%= select_tag "settings[role_ids][]", options_from_collection_for_select(Role.givable, 'id', 'name', @settings['role_ids']), :multiple => true, :id => "role_ids", :class => "selectize" %>
</p>
<p>
<%= label_tag "custom_field_ids", l('accounting.opts.custom_fields') %>
<%= select_tag "settings[custom_field_ids][]", options_from_collection_for_select(CustomField.where(type: "ProjectCustomField"), 'id', 'name', @settings['custom_field_ids']), :multiple => true, :id => "custom_field_ids", :class => "selectize" %>
</p>

<%= label_tag "groups", l('accounting.opts.groups') %>
<%= select_tag "settings[groups][]", options_from_collection_for_select(Group.all, 'id', 'lastname', @settings['groups']), :multiple => true, :class => 'selectize', :id => "groups" %>

<% content_for :header_tags do %>
  <%= javascript_include_tag 'selectize.min.js',   :plugin => 'redmine_accounting' %>
  <%= stylesheet_link_tag 'selectize.default.css', :plugin => 'redmine_accounting' %>
<% end %>

<%= javascript_tag do %>
  $('.settings').removeClass('tabular');
  $('.selectize').selectize();
<% end %>
