<h1 style="padding-bottom:20px;">Accounting plugin</h1>

<%= render :partial => "table_content" %>

<%= render :partial => "filters" %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'accounting_styles.css',  :plugin => 'redmine_accounting' %>
  <%= javascript_include_tag 'selectize.min.js',    :plugin => 'redmine_accounting' %>
  <%= stylesheet_link_tag 'selectize.default.css',  :plugin => 'redmine_accounting' %>
  <%= javascript_include_tag 'accounting-page.js',  :plugin => 'redmine_accounting' %>
<% end %>
